<launch>
  <!-- Start face_id_node -->
  <node name="face_id_node" pkg="action_recognition" type="face_id_node.py" output="screen" />

  <!-- Start hand_gesture_recognition_node -->
  <node name="hand_gesture_recognition_node" pkg="action_recognition" type="hand_gesture_recognition_node.py" output="screen" />

  <!-- Start control_node -->
  <node name="control_node" pkg="action_recognition" type="control_node.py" output="screen" />
</launch>

